@font-face {
  font-family: "MuseoSans-100";
  src: local("MuseoSans_100"), url("./fonts/MuseoSans-100.otf") format("truetype");
}

@font-face {
  font-family: "MuseoSans-300";
  src: local("MuseoSans_300"), url("./fonts/MuseoSans-300.otf") format("truetype");
}

@font-face {
  font-family: "MuseoSans-500";
  src: local("MuseoSans_500"), url("./fonts/MuseoSans_500.otf") format("truetype");
}

@font-face {
  font-family: "MuseoSans-700";
  src: local("MuseoSans_700"), url("./fonts/MuseoSans_700.otf") format("truetype");
}

@font-face {
  font-family: "MuseoSans-900";
  src: local("MuseoSans_900"), url("./fonts/MuseoSans_900.otf") format("truetype");
}

body {
  margin: 0;
  font-family: "MuseoSans-500";
}

.ant-popover-title {
  color: #96979a !important;
  font-size: 16px;
}
